.add-sticker {
	position: absolute;
	top: 30px;
	background-color: #43b05c;
	height: 50px;
	width: 50px;
	right: 40px;
	a {
		
	}
	a:before {
		content: "";
		background-image: url(../img/plus.svg);
	}
}