.btn{
	text-align: center;
	display: block;
	padding: 10px;
	background-color:$green;
	border-radius: 10px;
	margin-bottom: 5px;
	color: #fff;
	text-decoration: none;
	@include transitionF();
	&:hover{
		background-color: darken($green,5%);
	}
	&--checkbox{
		margin: 0;
		padding: 2px;
		margin-bottom: 5px;
		background-color: transparent;
		color: #000;
		cursor: pointer;
		&:hover{
			transform:none;
			box-shadow: none;
			background-color: transparent;
		}
	}
	&--subscribe {
		display: inline-block;
		padding: 5px 10px;
	}
	&--comment{
		display: inline-block;
		padding: 5px 10px;
		margin-bottom: 10px;
	}
	&--complete {
		padding: 10px 30px;
		display: inline-block;
		font-size: 20px;
	}
	
}
.modal__notes-window {
	.btn{text-align: left;font-size: 14px;}
}