.main-window {
	@include shadow();
    margin-bottom: 30px;
	background-color: #FFF;
	width: 100%;
	min-height: 200px;
	position: relative;
	// overflow-y: scroll;
	// max-height: 666px;
	@media($mobile){
		background-color: #3c3c3c;
	}
	&__stikers{
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		&--item {
			list-style: none;
			display: none;
			&.active {
				color: #bbb;
				display: block;
			}
		}
	}
	&__control-mobile{
		@media ($tablet){
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			right: 10px;
			top: 50%;
			transform:translateY(-50%);
		}
		@media ($mobile){
			z-index: 999;
			right: 10px;
			margin-bottom: 0;
			transform:none;
		}
		display: none;
	}
	&__control-mobile-arrow{
		width: 20px;
		height: 20px;
		display: block;
		margin-bottom: 10px;
		border-top: 2px solid #000;
		border-right: 2px solid #000;
		transform:rotate(45deg);
		@media ($mobile){
			border-color: #fff;
			border-width: 1px;
		}
		
	}
	&__control-mobile-sign{
		color: transparent;
	}
	&__controls {
		margin-bottom: 50px;
		text-align: center;
    	padding: 0px;
    	@media ($mobile){
			margin-bottom: 0px;
			margin-top: 0;
			padding: 20px 0px;
			background-color: transparent;
			@include separate();
			margin-bottom: 1px;
    	}
		&--item {
			display: inline-block;
			margin-left: 10px;
			transition:.3s;
			&:hover,
			&.active {
				transition:.3s;
				position: relative;
				a:before{
					content:'';
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: #46cf8f;
					bottom: -4px;
					transition:.3s;
				}
			}
			&:first-child{
				margin-left: 0;
			}
		}
		&--link {
			@media($mobile){
				color: #fff;
			}
			color: #000;
			text-decoration: none;
			display: block;
	}		
  }
  &__more{
	@media ($mobile){
		width: 40%;
		border-radius: 0;
		background: linear-gradient(to top,#333,#3c3c3c);
		bottom:-6px;
		text-align: center;
		color: #fff;
		// border: 1px solid #3c3c3c;
	}
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 12px;	
	background-color: #535353;
	color: #fff;
	padding: 10px 35px;		
	border-radius: 15px;
	font-size: 14px;
	text-decoration: none;
	@include transition();
	&:hover{
		bottom: 5px;
	}
  }
}
.general__notes {
	.stikers__attribute-data {
		margin-top: 0;
		text-align: center;
		font-size: 14px;
		margin-bottom: 5px;
	}
	.stikers__attribute{
		margin-bottom: 10px;
		margin-top: 0;
		text-align: center;
	}
}
