.menu-main {
	display: inline-block;
	@include shadow();
	position: absolute;
	left: -45px;
	&__item {
		width: 45px;
		height: 45px;
		display: block;
		background-color: #eee;
		position: relative;
		&:before {
			content:"";		
			width: 35px;
			height: 35px;
			background-repeat: no-repeat;
			top:5px;
			left:7px;
			position: absolute;
		}
	}
	&--back{
		background-color: $gray;
		&:before{
			background-image: url(../img/back.png);
			top:8px;
			background-size: cover;
		}
	}
	&--profile{
		background-color: $purple;
		&:before{
			background-image: url(../img/avatar.svg);
			background-size: cover;
		}
	}
	&--events{
		background-color: #19b5fe;
		&:before{
			background-image: url(../img/sign.svg);
			background-size: cover;
		}
	}
	&--notes{
		background-color: $red;
		&:before{
			background-image: url(../img/note.svg);
			background-size: cover;
		}
	}
	&--calendar{
		background-color: $yellow;
		&:before{
			background-image: url(../img/calendar.svg);
			background-size: cover;
			;
		}
	}
	&--planning{
		background-color: $green;
		&:before{
			background-image: url(../img/tactics.svg);
			background-size: cover;
		}
	}
}