.modal {
	position: fixed;
	background-color: #333333;
	padding: 0px 30px;
	text-align: center;
	// width: 850px;
	left: 50%;
	z-index: 10001;
	transform: translateX(-50%);
	top: 100px;
	display: block;
	// display: none;
	&--calendar{
		width: 700px;
	}
	&__background {
		background-color: rgba(0,0,0,0.7); 
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
		
	}
	&__notes-header{
		display:flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	&__h3{
		margin: 0;
		font-size: 20px;
	}
	&__notes-tool {
		background-color: #FFF;
		color: #000;
	}
	&__notes-window {
		background-color: #FFF;
		color: #000;
		padding:30px 15px 20px 30px;
	}
	&__notes-h{
		margin-top: 0;		
	}
	&__notes-content{	
		margin-bottom: 10px;
	}
	&__head-calendar{
		@include separate();
		margin-bottom: 15px;
	}
	&__stikers{
		@include separate();
		margin-bottom: 15px;
	}
	&__title{
		position: relative;
		text-align: center;
	}
	&__subtitle{
		text-align: center;
		font-weight: normal;
	}
	&__main {
		text-align: left;
		position: relative;
		label{
			margin-right: 10px;
		}
	}
	&__main:after {
		position: absolute;
		width: 100%;
		top:-10px;
		left: 0;
		height: 2px;
		content: "";
		border-bottom: 2px solid #444444;
	}
	&__main:before {
		position: absolute;
		width: 100%;
		bottom: -15px;
		left: 0;
		height: 2px;
		content: "";
		border-bottom: 2px solid #444444;
	}
	&__name,
	&__importance,
	&__criterion,
	&__deadline {
		display: flex;
    	justify-content: space-between;
    	margin-bottom: 15px;
    	input[type="text"]{
			border-color: transparent;
    	}
	}
	&__importance-range{
		width: 200px;
	}
	&__deadline-day{
		width: 33px;
		
	}
	&__deadline-month{
		width: 100px;
	}
	&__deadline-year{
		width: 45px;
	}
	&__deadline-month,
	&__deadline-year,
	&__deadlin-day {
		text-align: center;
	}
    &__additionally-checkboxes{
    	text-align: left;
    }
    &__additionally-label{
		display: block;
		margin-bottom: 10px;
    }
    &__additionally:before{
    	position: absolute;
		width: 100%;
		bottom: -15px;
		left: 0;
		height: 2px;
		content: "";
		border-bottom: 2px solid #444444;
    }
    &__additionally {
    	position: relative;
    }
    &__submit {
    	padding-top: 15px;
    	width: 200px;
    	margin: 0 auto;
    	color: #fff;
    }
    &__timer-checkbox{
    	margin: 10px 0px;
    	display: inline-block;
    }

}
.general__notes {
	.modal {
		background-color:transparent;
		text-align: left;
	}

}
.general__planning{
	.modal {
		@include shadow();
	}
}
