.modal-calendar {
	position: fixed;
	width: 50%;
	transform: translateX(-50%);
	z-index: 10001;
	left: 50%;
	background-color: #333333;
	padding: 0px 30px;
	text-align: center;
	@include shadow();
	&__head{
		border-bottom: 2px solid #444444;
		.months__list {
			width: 200px;
			color: #FFF;
		}
		.months__control {}
	}
	&__stiker{
		display: flex;
	}
}