.months{
	display: flex;
	justify-content: center;
	&__list{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 350px;
		padding-left: 0;
		position: relative;
	}
	&__list-item{
		margin-right: 10px;
	}
	&__list-link{
		padding: 10px;
		text-decoration: none;
		color: #000;
		font-size: 20px;
		position: relative;
		@include transitionF();
		&:hover{
			color: $yellow;
		}
		&.active{
			font-size: 30px;
		}
		
	}
	&__control{
		position: absolute;
		width: 30px;
		height: 30px;
		right: 0;
		cursor: pointer;
		@include transitionF();
		&--left{
			left: 0;
			transform:rotate(180deg);			
		}		
	}
	&__control-svg{
		fill:#000;
		@include transition();
		&:hover{
			fill:$yellow;
		}
	}
}