.profile{
	display: flex;
	// -webkit-flex-wrap: wrap;
	//     -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	&__wall {
		border:1px solid black;
		width: 77%;
	    margin-bottom: 40px;
	    color: #000;
	    padding-left: 15px;
    	box-sizing: border-box;
    	padding-right: 15px;
    	@media ($mobile){
    		width: 100%;
    		border: none;
    		color: #000;
    		background-color: #FFF;
    		margin-bottom: 0;
    	}
	}
	&__wall-item{
		margin-bottom: 10px;
	}
	&__wall-item-content{
		border-bottom: 1px solid;
		position: relative;
	}
	&__wall-item-head{
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 5px;
		@media ($mobile){
			text-align: center;
			display: block;
		}
	}
	&__wall-link{
		display: inline-block;
		position: absolute;
		right: 0;
		top: 15px;
		@media ($mobile){
			top: 0;
		}
	}
	&__wall-item-content{
		margin-bottom: 10px;
	}
	&__comment-info{
		margin-bottom: 5px;
		display: flex;
		align-items: center;
	}
	&__comment-author-name,&__comment-time{
		margin: 0;
		margin-bottom: 5px;
		font-size: 14px;
	}
	&__comment-time{
		color: #666;
	}
	&__comment-author-avatar{
		width: auto;
		height: 50px;
	}
	&__comment-content{
		margin-bottom: 10px;
	}
	&__wall-item-comment{
		padding: 10px;
		padding-bottom: 5px;
		border: 1px solid #000;
		border-radius: 10px;
		@media ($mobile){
			border: none;
		}
	}
	&__item-img{
		display: block;
		margin-bottom: 20px;
	}
	&__item-content{
		margin-bottom: 5px;
	}
	&__item-time{
		margin-top: 0;
		color: #333333;
		font-size: 14px;
		margin-bottom: 20px;
		@media ($mobile){
			text-align: center;
		}
	}
	&__wall-link-item{
		margin-right: 5px;
		text-decoration: none;
		display: inline-block;
		width: 20px;
	}
	&__sidebar-element{
		color: #000;
		@media ($mobile) {
			color: #FFF;
			width: 100%;
		}
	}
	&__sidebar-goals {
		border:1px solid #313131;
		padding: 3px;
		border-radius: 5px;
		@media ($mobile) {
			border-right:none;
			border-left:none;
			padding: 0px 20px;
		}
	}
	&__goals-title{
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__goals-title:before,
	&__goals-title:after{
		content:"";
		height: 8px;
		width: 8px;
		position: absolute;
		cursor: pointer;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;
		@media ($mobile) {
			display: none;		
		}
	}
	&__goals-content{
		margin-top: 10px;
	}
	&__goals-title:before {
		transform: rotate(50deg);
		left:2px;
		top: 0%;
	}
	&__goals-title:after {
	    transform: rotate(-137deg);
	    top: 0%;
	    right: 2px;
	}
	// Hover не работает с псевдожлементми
	
	// &__goals-title:before:hover,
	// &__goals-title:after:hover{
	// 	border-left: 2px solid #f1c40f;
	// 	border-bottom: 2px solid #f1c40f;
	// }
	&__sidebar-subscribers {
		border:1px solid #313131;		
		padding: 10px;
		border-radius: 5px;
		@media ($mobile) {
				display: flex;
		        flex-wrap: wrap;
		        justify-content: space-between;
		        padding: 5px 20px;
			}
		.subscribers {
			display: inline-flex;
			font-size: 12px;
			margin-bottom: 5px;
			@media ($mobile) {
				img{
					margin-right: 10px;
				}
				margin-right: 10px;
				
			}
		}
		.subscribers:nth-child(2n){
			@media ($mobile) {
				margin-right:0px;
			}
		}	
		.action{
			font-size: 14px;
			font-weight: bold;
			@media ($mobile) {
				display: block;
			}
		}
		@media ($mobile) {
			border-right:none;
			border-left:none;
		}
	}
	&__sidebar{
		border-top:1px solid #313131;
		margin-left: 10px;
		display:flex;
		flex-wrap: wrap;
		width: 17%;
		text-align: center;
		margin-right: 15px;
		margin-bottom: 40px;
		@media ($mobile) {
			width: 100%;
			margin-bottom: 0;	
		}
	}
	&__sidebar-subscription{
		border:1px solid #313131;		
		padding: 10px;
	    border-radius: 5px;
	    display: flex;
	    flex-wrap: wrap;
	    @media ($mobile) {
			border-right:none;
			border-left:none;
		    display: flex;
    		justify-content: space-around;
		}
	}
	&__subscription-name{
		font-size: 12px;
	}
	&__subscription-item {
		width: 50%;
		@media ($mobile){
			margin: 0px 30px;
			width: inherit;
		}
	}
	&__information {
		display: flex;
		width: 100%;
		margin-bottom: 10px;
		@media ($mobile) {
			flex-direction: column;
			margin-bottom: 0;
		}
	}
	&__information-attribute{
		margin-bottom: 10px;
		margin-top: 10px;
		font-weight: bold;
	}
	&__information-page-avatar{
		text-align: center;
		@media ($mobile) {
			background-color: #FFF;
		}
	}
	&__information-general{
		color: #000;
		@media ($mobile) {
			text-align: center;
    		background-color: #dcdcdc;
		}
	}
	&__information-img-avatar{
		display: block;
		margin-bottom: 10px;
		@media ($mobile) {
			margin: 0 auto;
		}
	}
	&__information-name{
		color: #000;
	}
	&__status {
		font-size: 16px;
		color: #7e7e7e;
	}
}
