.stikers {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
	flex-wrap: wrap;
	&__h2 {
		text-align: center;
		font-size: 20px;
	}
	&__element:nth-child(3n){
		margin-right: 30px;
	}
	&__element:nth-child(3n+1) {
		margin-left: 30px;
	}
	&__element {
	    margin-bottom: 45px;
	    margin-right: 45px;
		position: relative;
		border: 1px solid;
		@include Hshadow();
		&--default {
			@include shadow();
			border-radius: 2px;
			position: absolute;
		    width: 120%;
    		left: -10%;
    		font-size: 14px;
    		top: -7%;
    		color: #fff;
    		p {
				margin-top: 5px;
    			margin-bottom: 5px;
    			text-align: center;
    		}

		}
		&--content{
			color: #000;
			width: 180px;
			    padding: 0px 10px 0px 10px;
			p{
				margin-top: 10px;
				margin-bottom: 15px;
				font-size: 14px;
			}
		}
	}
	.default-color-1{
		background-color: #cc0000;
	}
	.default-color-2{
		background-color: #46cf8f;
	}
	.complete {
		text-align: center;
		display: block;
    	padding: 10px;
   		background-color:#46cf8f;
    	border-radius: 10px;
    	color: #fff;
    	text-decoration: none;
	}
	.timer {
		text-align: center;
	}
}
.stiker--small {
	background-color: #FFF;
	color: #000;
	margin-right: 40px;
}
.stiker--small:nth-child(3n){
	margin-right: 0;
}