.stikers {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
	&__element {
		position: relative;
		border: 1px solid;
	box-shadow: 0px 10px 10px 0.25px rgba(0, 0, 0, 0.5);
		&--default {
			box-shadow: 0px 5px 10px 0.25px rgba(0, 0, 0, 0.5);
			border-radius: 2px;
			position: absolute;
		    width: 120%;
    		left: -10%;
    		font-size: 14px;
    		top: -7%;
    		color: #fff;
    		p {
    			margin-top: 5px;
    			margin-bottom: 5px;
    			text-align: center;
    		}
		}
		&--content{
			color: #000;
			width: 180px;
			    padding: 0px 10px 0px 10px;
			h4 {
				text-align: center;
			}
			p{
				margin-top: 10px;
				margin-bottom: 15px;
				font-size: 14px;
			}
		}
	}
	.default-color-1{
		background-color: #cc0000;
	}
	.default-color-2{
		background-color: #46cf8f;
	}
	.complete {
		text-align: center;
		display: block;
    	padding: 10px;
   		background-color:#46cf8f;
    	border-radius: 10px;
    	color: #fff;
    	text-decoration: none;
	}
}