@import "normalize.scss";
@import "types.scss";
@import "variables.scss";
@import "mixins.scss";
@import "stikers.scss";
@import "general.scss";
@import "frank-title.scss";
@import "menu-blocks.scss";
@import "menu-main.scss";
@import "container.scss";
@import "main-window.scss";
@import "months.scss";
@import "calendar.scss";
@import "add-sticker.scss";
@import "page-footer.scss";
@import "add-sticker.scss";
@import "setting.scss";
@import "modal.scss";
@import "modal-calendar.scss";
