.frank-title{
	display: block;
	width: 500px;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	margin-bottom: 30px;
	&__frank{
		font-size: 46px;
		margin: 0;
		margin-top: 15px;
	}
	&__name{
		font-size: 30px;
		margin: 0;
		font-weight: normal;
	}

}